apiVersion: v1
kind: Service
metadata:
  name: orchestrator
  namespace: agensys-demo-1
  labels:
    app: orchestrator
    component: orchestrator
spec:
  type: ClusterIP
  selector:
    app: orchestrator
  ports:
  - port: 8085
    targetPort: 8085
    protocol: TCP
    name: http

---
apiVersion: v1
kind: Service
metadata:
  name: orchestrator-nodeport
  namespace: agensys-demo-1
  labels:
    app: orchestrator
spec:
  type: NodePort
  selector:
    app: orchestrator
  ports:
  - port: 8085
    targetPort: 8085
    nodePort: 30085
    protocol: TCP
    name: http
